

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #edd9cf;
    margin: 0;
    padding: 2rem;
}

.container {
    max-width: 10000px;
    margin: 0 auto;
    padding: 5px;
    justify-content: space-between;
    background-color: #f1ddd3;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.col-md-4 {
    flex: 1 1 30%; /* Ensures that each column takes up 30% of the width */
    padding: 10px;
}

.title h1 {
    text-align: center;
    font-size: 3rem;
    color: #693c2e;
    letter-spacing: 0.3rem;
    margin-bottom: 1.5rem;
}

.calendar {
    width: 100%;
    background-color: #f1ddd3;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    padding: 10px;
    justify-content: center;
}

.calendar thead th {
    background-color: #6a3c2e;
    color: white;
    padding: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
    border: 1px solid #6a3c2e;
}

.calendar td {
    text-align: center;
    padding: 1.5rem;
    height: 5rem;
    border: 1px solid #6a3c2e;
    font-size: 1rem;
    color: #4b2c1e;
    background-color: #f1ddd3;
}

.calendar td:empty {
    background-color: transparent;
    border: none;
}

/* Optional rounded corners for the whole table */
.calendar {
    border-radius: 1rem;
    overflow: hidden;
}
